body{
    background: radial-gradient(#53668D, #939EB4);
    font: 16px Arial, sans-serif;
}

#principal{
    width: 900px;
}

#menu{
    background: #CDD3D5;
    padding: 2px;
}

#rodape{
    width: 900px;
    text-align: center;
}

#conteudo{
    color: #fff;
}

.centralizar{
    text-align: center;
}

h1{
    color: #2D384D;
}

header{
    width: 900px;
}

header img{
    width: 900px;
    height: 77px;
    object-fit: fill;
}

a{
    color: #2D384D;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.images-container{
    max-width: 900px;
    height: 500px;
    margin: 32px auto;
    display: flex;
    border: 2px solid #222;
}

.images-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 400ms;
}

.images-container .images{
    position: relative;
    overflow: hidden;
}

.images-container .description{
    position: absolute;
    bottom: -180px;
    background-color: #222;
    color: #fff;
    padding: 8px 16px;
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 400ms;
}

.images-container .description h2{
    color: #43C9DB;
}

.images-container .images:hover .description{
    opacity: 1;
    bottom: 0;
}

.images-container .images:hover img{
    transform: scale(1.1);
}

.images-conteudo{
    max-width: 900px;
    height: 500px;
    margin: 32px;
    border: 2px #222
}

ul li{
    list-style: none;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #2D384D;
    padding: 3px 12px;
    background-color: #CDD3D5;
    margin: 0 5px;
    text-transform: uppercase;
}

ul li a:hover{
    background-color: #CDD3D5;
    color: #33C3D7;
}